{% extends 'user/user_base.html' %}
{% block content %}
<title>Information-{{objs.service_tag.Model_no}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="container" style="position: absolute;left:280px;top:70px;width:80%">

<div class="card" style="margin-top:20px;, margin-right:20px;">
    <div class="card-header bg-dark text-white"><h2>Project details</h2></div> <br>
    <div class="card-body">
        <table class="table table-bordered" width="0%">
            <tbody>
                <tr>
                    <th><h4>Project Id : </h4></th>
                    <td style="margin-left:10px;"><h4>{{objs.project_id}}</h4></td>
                </tr>
                <tr>
                    <th><h4>Project Name : </h4></th>
                    <td style="margin-left:10px;"><h4>{{objs.name}}</h4></td>
                </tr>
                <tr>
                    <th><h4>Subsidiary :</h4></th>
                    <td><h4>{{ objs.subsidiary }} </h4></td>
                </tr>
                <tr>
                    <th><h4>Project Status :</h4></th>
                    <td><h4>{{ objs.project_status }} </h4></td>
                </tr>
                <tr>
                    <th><h4>Total Devices Allocated  :</h4></th>
                    <td><h4>{{ cnt }}</h4></td>
                </tr>
            </tbody>
        </table>

</div>
</div>

</div>
{%endblock%}
