{% extends 'user/user_base.html' %}
{% block content %}
{% csrf_token %}
<title>Search</title>
<div style="position: absolute;left:155px;top:70px;width:100%;">
<div class="container">

<h2>Search a Item: </h2>
<br><br>
  <form method='post' action="search">
  {% csrf_token %}
    <div class="form-group" >
    
      <label for="location">Location</label>
      <select class="form-control" name="location" id="location">
        <option value="Any">Any</option>
        <option value="1F">1F</option>
        <option value="3F">3F</option>
        <option value="4F">4F</option>
      </select>
      <br>
    </div>

<!--    <div class="form-group">-->
<!--    -->
<!--      <label for="pc">Item Type</label>-->
<!--      <select class="form-control" name="pc" id="pc">-->
<!--        <option value="Any">Any</option>-->
<!--        <option value="Desktop">Desktop</option>-->
<!--        <option value="Laptop">Laptop</option>-->
<!--      </select>-->
<!--      <br>-->
<!--    </div>-->

      <div class="radio">
      <label><input type="radio" id="Allocated" name="Allocated">Allocated</label>
    </div>
     <div class="radio">
      <label><input type="radio"  id="Free" name="Free">Free</label>
    </div>
    <div class="radio">
      <label><input type="radio" id="Dicommissioned" name="Dicommissioned">Dicommissioned</label>
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
</form>

<br><br>

{% if objs %}
<h2>Searched Item</h2>
<div class="list-group">
  {%for obj in objs%}
   <strong> <a href="{% url 'detail' obj.service_tag %}" class="list-group-item list-group-item-action" >Service
     Tag={{obj.service_tag}}, Model No.={{obj.model_no}}, Location={{obj.location}}</a></strong>
    {%endfor%}
  </div>
{%endif%}
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}"  role="alert">
      {{message}}
      </div>
    {% endfor %}
{% endif %}

</div>
</div>

{% endblock %}