{% extends 'superuser/super_base.html' %}
{% block content %}

<title>Information-{{objs.allocation.service_tag}}</title>
<div id="container" style="position: absolute;left:250px;top:70px;width:80%">

<div class="card" style="margin-top:20px;, margin-right:px;">
    <div class="card-header bg-dark text-white"><h2>Information</h2></div> <br>
  <div class="card-body">
    <table class="table table-stripped"  width="0%">
            <tbody>
                <tr>
                    <th style="margin-right:1px;"><h4>iepl_id  :</h4></th>
                    <td><h4>{{objs.allocation.service_tag.iepl_id}}</h4></td>
                </tr>
                <tr>
                    <th><h4>Service Tag :</h4></th>
                    <td><h4>{{objs.allocation.service_tag}}</h4></td>
                </tr>
                <tr>
                   <th><h4>Item Type :</h4></th>
                   <td><h4>{{objs.allocation.service_tag.item_type}}</h4></td>
               </tr>
                <tr>
                   <th><h4>Host name :</h4></th>
                   <td><h4>{{objs.allocation.service_tag.host_name}}</h4></td>
               </tr>
                <tr>
                   <th><h4>Location :</h4></th>
                   <td><h4>{{objs.allocation.service_tag.location}}</h4></td>
               </tr>
                <tr>
                   <th><h4>Manufacturer :</h4></th>
                   <td><h4>{{objs.allocation.service_tag.manufacturer}}</h4></td>
               </tr>
                <tr>
                   <th><h4>Model No. :</h4></th>
                   <td><h4>{{objs.allocation.service_tag.model_no}}</h4></td>
               </tr>
                <tr>
                   <th><h4>Request Type :</h4></th>
                   <td><h4>{{s}}</h4></td>
               </tr>
            </tbody>
        </table>
<button type="button" class="btn btn-lg btn-secondary"  onclick="clicked();">Accept</button>

<button type="button" class="btn btn-lg  btn-secondary" onclick="clicked1();">Reject</button>
  </div>

   </div>
</div>


<script type="text/javascript">
    function clicked() {
       if (confirm('Sure to Accept Request ? ')) {
           location.href='{% url 'accept' objs.id%}'
       } else {
           return false;
       }
    }
    function clicked1() {
       if (confirm('Sure to Reject Request ? ')) {
           location.href='{% url 'reject' objs.id%}'
       } else {
           return false;
       }
    }
</script>



{% endblock %}
