{% extends 'superuser/super_base.html' %}
{% block content %}
{% csrf_token %}
<title>Search</title>

<div id="container" style="position: absolute;left:250px;top:70px;width:80%">

<!--<h2>Search a Item: </h2>-->
<!--<button type="button" class="btn btn-primary" onclick="location.href='{% url 'add' %}'">Add Items</button> <br>-->
<!--<br><br>-->
  <div class="card" style="margin-top:30px; margin-left:20px;">
    <div class="card-header bg-dark text-white"><h2>Search item</h2></div> <br>
    <div class="card-body">
        <form method="get">
            {{ filter.form.media }}
            {{ filter.form.as_p }}
            <button class="btn btn-primary btn-lg" type="submit" name="search">Search</button>
        </form></div>

    {% if filter.qs.count == 0 %}
     <a align="center" style="margin-right:20px;"> <h1>Result Count : {{ filter.qs.count }}</h1></a>
<table class="table table-bordered" id="tabluar_view" style="display:None;">
    {% else %}
      <a align="right" style="margin-right:20px;"> <h1>Count : {{ filter.qs.count }}</h1></a>
<table class="table table-bordered">
    {% endif %}
    <thead >
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Service Tag</th>
      <th scope="col">Item Type</th>
      <th scope="col">Project</th>
      <th scope="col">Manufacturer</th>
      <th scope="col">Model No.</th>
      <th scope="col">Employee</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for item in filter.qs %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.service_tag }}</td>
            <td>{{ item.item_type.title }}</td>
            <td>{{ item.project.name }}</td>
            <td>{{ item.manufacturer }}</td>
            <td>{{ item.model_no }}</td>
            <td>{{ item.employee.user }}</td>
            <td><a class="btn btn-sm btn-info "  href="{% url 'details' item.id %}"> Details</a></td>
        </tr>
  </tbody>
    {% endfor %}
</div>


<!--{% if filter %}-->
<!--<h2>Searched Item</h2>-->
<!--<div class="list-group">-->
<!--  {%for obj in objs%}-->
<!--   <strong> <a href="{% url 'details' obj.service_tag %}" class="list-group-item list-group-item-action" >Service Tag={{obj.service_tag}}, Model No.={{obj.Model_no}}, Location={{obj.location}}</a></strong>-->
<!--    {%endfor%}-->
<!--  </div>-->
<!--{%endif%}-->
<!--{% if messages %}-->
<!--    {% for message in messages %}-->
<!--      <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}"  role="alert">-->
<!--      {{message}}-->
<!--      </div>-->
<!--    {% endfor %}-->
<!--{% endif %}-->



</div>

{% endblock %}